/* 
font 
font-family: "Open Sans", sans-serif;
font-family: "Engagement", cursive;

color
footer a, .navbar-brand, .nav-link:hover, .banner p, .banner p:after, .about h3, .btn-about:hover, .blog span
#FC6392;
.banner-btn
background: hsla(30, 97%, 51%, 1);
background: linear-gradient(45deg, hsla(30, 97%, 51%, 1) 0%, hsla(335, 96%, 55%, 1) 100%);
background: -moz-linear-gradient(45deg, hsla(30, 97%, 51%, 1) 0%, hsla(335, 96%, 55%, 1) 100%);
background: -webkit-linear-gradient(45deg, hsla(30, 97%, 51%, 1) 0%, hsla(335, 96%, 55%, 1) 100%);
*/

/* global*/

body {
    font-family: "Open Sans", sans-serif;
}

main {
    padding-top: 56px;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
}

section{
    padding: 100px 0px;
}

h1 {
    color: #fff;
    font-family: "Engagement", cursive;
}

h2{
    font-family: "Engagement", cursive;
}

p{
    font-weight: 500;
}

a{
    text-decoration: none;
}

footer .nav-link{
    transition: .7s;  
}

footer .nav-link:hover{
    color: #000 !important;   
}

footer a{
    background-color: #FC6392;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

footer i{
    color: #fff;
    font-size: 20px;
}
/* nav */

.navbar {
    background-color: #FFFFFC;
}

.navbar-brand{
    color: #FC6392;
    font-family: "Engagement", cursive;
}

.nav-link{
    color: #000 !important;
    transition: .5s;
}

.nav-link:hover{
    color: #FC6392 !important;

}

.fa-sort {
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    animation: 1.5s updown infinite alternate;
    transform: translateY(0);
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

/* banner */

.banner {
    background-image: url(https://ydhweb.imgix.net/image/Pudding-Recipe.jpg?auto=compress%2Cformat&crop=faces%2Cedges&ixlib=php-3.3.1&q=82);
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 56px);
}

.banner .container {
    animation: fadeInUp 3s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0); 
    }
}

.banner p{
    color: #FC6392;
}

.banner p:after{
    content: "";
    display: block;
    width: 300px;
    margin: 0 auto;
    border-bottom: 1px solid #FC6392;
    margin-top: 3px;
}

.banner-btn{
    background: hsla(30, 97%, 51%, 1);
    background: linear-gradient(45deg, hsla(30, 97%, 51%, 1) 0%, hsla(335, 96%, 55%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(30, 97%, 51%, 1) 0%, hsla(335, 96%, 55%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(30, 97%, 51%, 1) 0%, hsla(335, 96%, 55%, 1) 100%);
    color: #fff;
}

/* about */

.about h3{
    color: #FC6392;
}

.btn-about{
    text-decoration: none;
    display: inline-block;
    background-color: #000;
    padding: 10px 20px;
    transition: .5s;
}

.btn-about:hover{
    color: #000 !important;
    background-color: #FC6392;
}

.about-image{
    background-image: url(https://katiebucknell.com/wp-content/uploads/2019/12/christpud-1440x960.jpg);
    background-position: 36%;
    background-size: cover;
    height: 500px;
}

.about p:nth-of-type(1){
    font-weight: 600;
}

/* product */

.product{
    background-image: url(https://ydhweb.imgix.net/image/Pudding-Recipe.jpg?auto=compress%2Cformat&crop=faces%2Cedges&ixlib=php-3.3.1&q=82);
    background-position: center;
    background-size: cover;
    padding: 90px 0px;
}

.product h3{
    font-family: "Engagement", cursive;
}

.product p{
    font-size: 17px;
    line-height: 1.6;
    font-weight: 400;
}

/* Blog */

.blog .container{
    width: 70%;
}

.section-header p{
    margin-bottom: 0px !important;
}

.blog-image{
    background-position: center;
    background-size: cover;
    height: 320px;
}

.blog-image-1{
    background-image: url(https://naturall.az/storage/143/hazelnut_culinary_top_03.jpg);
}

.blog-image-2{
    background-image: url(https://assets.st-note.com/production/uploads/images/103077195/fa4803bd7455d73eb0df76c90a76cbc1.jpeg);
    background-position: 15%, 50%;
}

.blog span{
    background-color: #FC6392;
    padding: 8px 10px;
}

.blog h3{
    font-family: "Engagement", cursive;
}

/* Blog Slick Slider */

.blog .slick-slide{
    margin: 0 10px !important;
}

.blog .slick-arrow{
    position: absolute;
    z-index: 1;
    top: 160px;
    margin-top: 0px;
}

.blog .slick-prev{
    position: absolute;
    font-size: 0px;
    width: 50px;
    height: 50px;
    border: none;
    right: calc(100% + 15px);
    background-image: url(https://www.pngmagic.com/product_images/arrow-png-download.png);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    transform: translateY(-50%) scale(-1);
    cursor: pointer;
   
}

.blog .slick-next{
    position: absolute;
    font-size: 0px;
    width: 50px;
    height: 50px;
    border: none;
    left: calc(100% + 15px);
    background-image: url(https://www.pngmagic.com/product_images/arrow-png-download.png);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    transform: translateY(-50%);
    cursor: pointer;
}

/* gallery */

.gallery{
    padding: 40px 0px;
}

.gallery-image{
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 160px;
    display: block;
} 

.gallery-image-1{
    background-image: url(https://www.embassychocolate.com/hs-fs/hubfs/4J0A6590%20chocolate%20bomb%20plated%20dessert-1.jpg?width=600&height=400&name=4J0A6590%20chocolate%20bomb%20plated%20dessert-1.jpg); 
    background-position: 41% 50%;
} 

.gallery-image-2{
    background-image: url(https://popmenucloud.com/cdn-cgi/image/width%3D600%2Cheight%3D600%2Cfit%3Dscale-down%2Cformat%3Dauto%2Cquality%3D60/vmbwklef/d6a2e44d-b665-43bb-b814-902a39bb495d.jpg);
    background-position: 41% 50%;
    
}
.gallery-image-3{
    background-image: url(https://www.rdfoodrevolution.com/cache/600x0/2022/06/23/14/21/08/4071/chocoladedessert-fruithsheet-orange.jpg);
    background-position: 87% 50%;
}

.gallery-image-4{
    background-image: url(https://thecozyapron.com/wp-content/uploads/2012/12/boozy-parfaits_12-23-12_1_ca.jpg);
    background-position: 8% 50%;
}

.gallery-image-5{
    background-image: url(https://bernssteakhouse.com/wp-content/uploads/2024/07/King-Midas.jpg);
}

.gallery-image-6{
    background-image: url(https://media-cdn2.greatbritishchefs.com/media/2dndj13v/img57595.whqc_600x400q80fpt582fpl532.jpg);
    background-position: 68% 50%;
}

/* laptop */

@media only screen and (max-width: 992px) {

    /* global */

    section{
        padding: 80px 0px;
    }

    /* banner */

    .banner {
        min-height: calc((85vh - 56px));
    }

    /* product */

    .product{
        padding: 80px 0px;
    }

    /* gallery */

    .gallery-image{
        height: 150px;
    } 

}

/* tablet */

@media only screen and (max-width: 768px) {

    /* global */

    section{
        padding: 60px 0px;
    }

    h1 {
        font-size: 40px !important;
    }

    /* banner */

    .banner {
        min-height: calc((75vh - 56px));
    }

    /* about */
    .about-text{
        text-align: center;
    }

    .about-image{
        height: 320px;
    }

    /* product */

    section.product{
        padding: 60px 0px !important;
    }

    .product p{
        margin-bottom: 0px;
        font-size: 16px;
        line-height: 1.4;
    }

    .cake-item{
        text-align: center;
    }

    /* blog */

    .blog-item{
        text-align: center;
    }

  
    .blog-image{
        height: 300px;
    }

    .blog .slick-arrow{
        top: 150px;
    }

    /* gallery */

    .gallery-image{
        height: 130px;
    } 
}

/* phone */

@media only screen and (max-width: 576px) {

    /* global */

    section{
        padding: 35px 0px;
    }

    h1 {
        font-size: 35px !important;
    }

    /* banner */

    .banner {
        min-height: calc((68vh - 56px));
    }

     /* about */

    .about-image{
        height: 280px;
    }

    /* product */

    section.product{
        padding: 50px 0px !important;
    }

    /* blog */
  
    .blog-image{
        height: 280px;
    }

    /* gallery */

    .gallery-image{
        height: 130px;
    } 
}