/*
color
a:hover, burger color: #FF6663;
footer, page header,gallery #f0ffff;
banner background color #7979795c;
btn:hover #ABF355;
about #f0f8ff;
logo, hr  i #FECC2F;
fixed-btn #010050
service #a5a5a562;
gallery p, service p, section-header para #6c6c6c;

font 
h1 font-family: "Monoton", serif;
body font-family: "Lato", serif;
 */

 /* global */
 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", serif;
}

/* unable to scroll */
body.popup-is-open{
    height: 100%;
    overflow-y: hidden;
    margin-right: 15px;
}

section{
    padding: 80px 0px;
}

a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

a:hover{
    color: #FF6663;
}

h1{
    font-size: 60px;
    font-family: "Monoton", serif;
    color: #fff;
}

h2{
    text-transform: capitalize;
}

h3{
    text-transform: capitalize;
}

h4{
    text-transform: capitalize;
}

p{
    font-size: 20px;
}

/* footer */

footer{ 
    padding: 30px 0px;
    text-align: center;
    background-color: #f0ffff;
}

footer p{
    font-size: 14px;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    width: 90%;
}

/* fixed button */

.fixed-btn{
    width: 70px;
    height: 70px;
    background-color: #010050;
    color: #FECC2F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 80px;
    right: 50px;
    cursor: grab;
    font-size: 25px;
    transition: 0.6s;
    z-index: 1;
    display: none;
    
}

.fixed-btn:hover{
    opacity: 60%;
}

.fixed-btn i{
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%,-50%) rotate(270deg);
}

/* popup */

.popup-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.60);
    display: none;
    z-index: 3;
    
}

.popup-content{
    background-color: #f0ffff;
    padding: 50px;
    width: 80%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    max-height: 80vh; 
    text-align: center;
}

.popup-content h3{
    font-size: 28px;
    margin-bottom: 10px;
    color: #FECC2F;;
}

.popup-content p{
    margin-bottom: 15px;
    font-size: 16px;
}


.popup-content iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
}

/* close-btn */
.close-btn{
    background-color: rgba(0,0,0,0.0);
    font-size: 50px;
    color: #fff;
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
    border: none;
}

.section-header{
    text-align: center;
    max-width: 500px;
    margin: 0px auto 55px auto;
    
}

.section-header-title{
    font-size: 40px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.section-header-para{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.8;
    color: #6c6c6c;
}

.card{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
    /* NEW */
    /* new hide the over flow */
    overflow: hidden;
}

/* header */

.page-header{
    background-color: #f0ffff;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}

.logo{
    font-size: 20px;
    text-transform: capitalize;
}

.logo i{
    margin-right: 5px;
    color: #FECC2F;
    
}
.burger{
    font-size: 30px;
    display: none;
    color: #FF6663;
}

.menu-list{
    display: flex;
    gap:40px;
    list-style: none;
}

/* banner */

.banner{
    padding: 255px 0px;
    background-image: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-color: #7979795c;
    background-blend-mode: multiply;
    text-align: center;
    color: #fff;
}

.banner h1{
    font-size: 45px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.banner p{
    line-height: 1.4;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.btn{
    padding: 15px 35px;
    border-radius: 7px;
    font-size: 17px;
    text-transform: capitalize;
    transition: 0.5s;
    background-color: #fff;
    background-color: #FF6663;
    display: inline-block;
}

.btn:hover{
    background-color: #ABF355;
    color: #fff;
}

/* gallery */

.gallery{
    background-color: #F0FFFF;
    text-align: center;
    padding: 120px 0px;
}


.gallery-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    margin-bottom: 55px;
}

/* .gallery-card{
    border: 2px solid transparent;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.gallery-card:hover{
    border-color: #FECC2F;
   
} */

.gallery-card-link{
    display: block;
}

.gallery-image{
    background-image: url(./photo/Montana\ Resort.png);
    background-position: center;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.gallery-card:nth-of-type(1) .gallery-price{
   padding: 0px;
   text-align: left;
}

.gallery-price span {
    padding: 8px 14px;
    background-color: #FECC2F; 
    border-radius: 20px; 
    font-size: 16px; 
    display: inline-block;
    
}

.gallery-price p {
    width: 68px; 
    padding: 5px;
    background-color: #FECC2F; 
    border-radius: 20px; 
    font-size: 16px; 
    
}

.gallery-card:nth-of-type(2) .gallery-image{
    background-image: url(./photo/Star\ Anime.png);
}

.gallery-card:nth-of-type(3) .gallery-image{
    background-image: url(./photo/TheBakeryShop.png);
}

.gallery-card:nth-of-type(4) .gallery-image{
    background-image: url(./photo/LS\ Stampee.png);
}

.gallery-card:nth-of-type(5) .gallery-image{
    background-image: url(./photo/Gakko.png);
}

.gallery-card:nth-of-type(6) .gallery-image{
    background-image: url(https://i.pinimg.com/originals/47/32/3f/47323f3814100312de9fd64b48d0cef5.gif);
}

.gallery-text{
    /* padding: 15px; */
    text-align: left;
    padding: 20px 15px 30px;
}

.gallery-text h4{
    font-size: 20px;
    margin: 10px 0px;
}

.gallery-text p{
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #6c6c6c;
}

/* service */

.service{
    background-color: #ffffff;
    padding-top: 0px;
}

.service-bg-image{
    background-image: url(https://i.gifer.com/F3ZI.gif);
    background-position: center;
    background-size: cover;
    background-color: #a5a5a562;
    background-blend-mode: overlay;
    padding: 90px 0px;
    margin-bottom: 70px;
}

.service .section-header{
    margin-bottom: 0px;
} 

.service-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}

.service-grid .card{
    box-shadow: none;
}

.card img{
    max-width: 100%;
    display: block;
    height: 60px;
    margin: 40px auto 0px;
}

.service-text{
    padding: 15px;
    text-align: center;
}

.service-text h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.service-text p{
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #6c6c6c;
}

/* laptop */

@media only screen and (max-width: 992px) {

    /* banner */

    .banner h1{
        font-size: 34px;
    } 

    .banner p{
        font-size: 18px;
    }

    .section-header-title {
        font-size: 33px;
    }    

    .about-text h3 {
        font-size: 29px;
    }    

    .about-text hr {
        max-width: 282px;
    }

    /* gallery */

    .gallery{
        padding: 80px 0px;
    }
}

/* tablet */

@media only screen and (max-width: 768px) {

    /* global */
    
    section{
        padding: 50px 0px;
    }

    /* banner */

    .banner{
        padding: 120px 0px;
    }

    .banner h1{
        font-size: 32px;
    }
  
    .banner p{
        font-size: 16px;
    }

    .section-header-title{
        font-size: 31px;
    }
    
     /* gallery */

     .gallery{
        padding: 50px 0px;
     }

     .gallery-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    
    .gallery-text p{
        font-size: 17px;
    }

    /* service */

    .service-bg-image {
        padding: 60px 0px;
        margin-bottom: 50px;
    }

    .service-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .service-grid .card{
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
    }

    .service-text p{
        font-size: 17px;
    }    
}

/* phone */

@media only screen and (max-width: 576px) {
    
    /* gobal */ 

    section{
        padding: 40px 0px;
    }

    /* nav bar */

    .burger{
        display: block;
    }

    .page-header{
        position: relative;
    }

    .menu-holder{
        display: none;
        background-color: #fff;
        position: absolute;
        top: 100%;
        width: 100%;
        right: 0;
        padding: 20px 40px;
        text-align: center;
        
        
    }

    .menu-list{
        /* this isquestion becaause it works on responsice but it doesnt displaay on full screen */
        /* flex-direction: column;
        gap: 20px; */
        display: block;
    }

    .menu-list li{
        margin-bottom: 20px;
    }

    .menu-list li:nth-of-type(5){
        margin-bottom: 0px;
    }

    .menu-list a:hover{
        background-color: #010050;
        color: #fff;
    }


    /* banner */

    .banner{
        padding: 100px 0px;
    }

    .banner h1{
        font-size: 29px;
    }

    .banner p{
        font-size: 15px;
    }

    .section-header{
        margin-bottom: 40px;
    }

    .section-header-title{
        font-size: 27px;
    }
    
     /* gallery */

     .gallery{
        padding: 40px 0px;
     }

     .gallery-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    /* service */

    .service-bg-image {
        margin-bottom: 45px;
    }
   
    .service-grid{
        grid-gap: 20px;
    }
}







