/* Aside Section */

[id="aside"] {
  grid-area: aside;
}

.info-bid {
  position: sticky;
  top: 0;
  min-height: 400px;

  & h1 {
    font-size: 23px;
  }
}

.info-bid-detail {

  &>* {
    margin: 10px 0px;
  }
}

.auction-price {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & h2 {
    font-size: 20px;
  }

  & p {
    font-weight: 300;

    & span {
      font-weight: 600;
    }
  }
}

.h3 {
  color: #585858;
  font-size: 16px;
  font-weight: 400;
}

.info-description {
  & p {
    font-size: 15px;
    margin: 10px 0px;
    font-weight: 400;
    line-height: 1.4;
  }
}

.info-time {
  border-bottom: 1px solid #818181;

  & p {
    margin: 5px 0px 10px 0px;
  }
}

.info-close {
  font-weight: 300;

  s & span {
    font-weight: 500;
  }
}

.info-credit-image {
  margin: 0px 0px;
  display: flex;
  gap: 10px;

  & a {
    width: fit-content;
    display: block;

    & img {
      display: block;
      width: 120px;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .info-bid{
    position: static;
  }
}