/* Button */

.button {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  width: 100%;
  border: 2px solid #000;
  text-align: center;
  margin-top: 7px;

  &.aside-button{
     margin-bottom: 0px;
  }

  &:hover {
    color: #d42227;
    border-color: #d42227;
  }
}
