/* Footer */
[id="footer"] {
  grid-area: footer;
  margin-top: 40px;
}

.footer-flex-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  padding: 20px 40px;
}

.footer-nav-flex {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & a {
    text-decoration: none;
    color: #585858;

    &:hover {
      color: #000;
    }
  }
}

.footer-dropdown-list {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;

  & a{
    margin: 5px 0px;
  }
}

.footer-flex-right {
  padding: 20px 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-flex {
  display: flex;
  gap: 10px;

  & img {
    width: 30px;
    height: 30px;

  }
}

@media (max-width: 900px) {
  .footer-flex-left {
    padding: 20px;
    gap: 15px;
  }

  .footer-flex-right {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .footer-flex-left {
    gap: 10px;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .footer-nav-flex {
    position: relative;
    width: 100%;
    overflow: hidden; 
    transition: all 0.3s ease;

    &:hover .footer-title{
      border-bottom: 2px solid #d42227;
    }

    &:hover .footer-dropdown-list{
      max-height: 500px;
    }
  }

  .footer-title {
    cursor: pointer;
    display: block;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 2px solid #000;
  }

  .footer-dropdown-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
}

@media (max-width: 576px) {
  [id="footer"] {
    margin-top: 0px;
  }
}





