/* mobile-header */

.mobile-header{
  display: none;
}

.mobile-logo{
  display: none;
}

.mobile-search{
  display: none;
}

@media (max-width: 768px) {

  .mobile-logo{
    display: flex;
  }

  .mobile-header{
    display: block;
    background-color: #fff;
    align-items: center;
    gap: 20px;
    height: 115px;
    padding: 0px 20px;
  }
  
  .mobile-search{
    display: block;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 76px;
    appearance: none;
    cursor: pointer;
    pointer-events: all;
  } 
}
