/* info */

[id="info"] {
  grid-area: info;
}

.flex-image {
  display: flex;

  & .thumbnail {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
      max-height: 101px;
    }
  }
}

.thumb1 {
  width: 88px;
}

.thumb2 {
  width: 81px;
}


.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  & img {
    width: 500px;
    height: 500px;
  }

  & img:hover {
    transform: scale(1.2);
  }
}

.description {
  margin-top: 20px;

  & .description-header>* {
    margin: 10px 0px;
  }

  & p {
    line-height: 1.6;
    max-width: 800px;
  }
}

.condition {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 2px solid #818181;
  border-bottom: 2px solid #818181;

  & dl {
    display: flex;
    gap: 10px;

    & dt {
      font-weight: 600;
    }
  }

  &>* {
    display: inline-block;
    width: max-content;
  }
}

@media (max-width: 900px) {
  .product-image img {
    width: 400px;
    height: 400px;

  }
}

@media (max-width: 768px) {
  .product-image img {
    width: 320px;
    height: 320px;
  }

  .description{
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .product-image img {
    width: 300px;
    height: 300px;
  }

  .flex-image {
    flex-direction: column-reverse;

    & .thumbnail {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 10px;
    margin-top: 30px;
  }
  }
}