/* Auction */
#auction {
  grid-area: auction;
}

/* Card */
.card {
  overflow: hidden;

  picture img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }

  .card-info {
    padding: 10px;

    h3 {
      width: 100%;
      min-width: 10ch;
      font-size: 18px;
      font-weight: 500;
    }

    p:nth-of-type(1) {
      margin: 7px 0px;
      font-weight: 600;
    }

    p:nth-of-type(2) span {
      font-weight: 600;
    }

    .button {
      display: inline-block;
      padding: 5px 10px;
      text-decoration: none;
      color: #000;
      width: 100%;
      border: 2px solid #000;
      text-align: center;
      margin-top: 7px;

      &:hover {
        color: #d42227;
        border-color: #d42227;
      }
    }
  }

  &:hover {
    h3 {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }

    picture img {
      transform: scale(0.9);
    }
  }
}