[id="banner"] {
    grid-area: banner;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    background-image: url(../../img/photos/going-postal-discworld-stamps-going-postal-20th-anniversary-sheet-terry-pratchett-patrician-turtle-group-banner.webp);
    background-position: center;
    background-size: cover;
    background-color: #81818192;
    background-blend-mode: multiply;
    color: #fff;
    width: 100%;
    height: 300px;
}

h1 {
    font-size: 50px;
}

.banner p {
    width: 60ch;
    font-size: 20px;
}

@media (max-width: 768px) {

    h1 {
        font-size: 50px;
    }

    .banner {
        margin-top: 120px;
    }

    .banner p {
        width: 50ch;
        font-size: 16px;
    }
}

@media (max-width: 576px) {

    h1 {
        font-size: 38px;
    }

    .banner p {
        max-width: 40ch;
    }
}