/* Card */
.card {
  overflow: hidden;

  & img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }

  &:hover {
    & h3 {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }

    & img {
      transform: scale(0.9);
    }
  }
}


.card-info {
  padding: 10px;

  & h3 {
    width: auto;
    min-width: 10ch;
    font-size: 18px;
    font-weight: 500;
  }

  & p:nth-of-type(1) {
    margin: 7px 0px;
    font-weight: 600;
  }

  & p:nth-of-type(2) span {
    font-weight: 600;
  }
}

@media (max-width: 900px) {
  .card-info{
    & h3{
      font-size: 17px;

    }
  }
}