/* Container */

/* Container */
.container {
  display: grid;
  grid-template-areas: 
    "banner banner"
    "aside  auction";
  gap: 40px;
  grid-template-columns: 1fr 3fr;
  max-width: 1200px;
  margin: 0 auto;
}

/* Grid */
.grid {
  --min-width: 25ch;
  --gap: 24px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
  gap: var(--gap);

  &.big {
    --min-width: 30ch;
    --gap: 20px;
  }
}

/* responsive */
@media(max-width:768px) {
  .container {
    grid-template-areas:
      "header"
      "banner"
      "aside"
      "auction"
      "footer";
    max-width: 768px;
    margin: 0 auto;
    width: 90%;
    grid-template-columns: 1fr;
    gap: 0px;
  }

  [id=header] {
    grid-area: header;
  }

  [id=banner] {
    grid-area: banner;
  }


  [id=auction] {
    grid-area: auction;
  }

  [id=aside] {
    grid-area: aside;
  }

  [id=footer] {
    grid-area: footer;
  }
}


