/* 
font  
font-family: "Roboto", sans-serif;

color 
.page-header footer #696969;
h4, .nav-menu a:hover #93CDFF
.about-info p, .about-info a #878787
.book-btn, .more-btn, .play-btn i, a #86C3FF
.filter, .popup-overlay-video, .popup-overlay-map rgba(0, 0, 0, 30%);
.menu-holder rgba(0, 0, 0, 70%);
 */

/* Gobal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

body.popup-is-open{
    height: 100%;
    overflow-y: hidden;
    margin-right: 15px;
}

main{
    padding-top: 80px;
}

section{
    padding: 100px 0px;
}

h1{
    font-size: 100px;
    font-weight: 300;
    text-transform: capitalize;
}

h2{
    font-size: 47px;
    font-weight: 400;
}

h3{
    font-weight: 300;
    font-size: 22px;
}

h4{
    text-transform: capitalize;
    color: #93CDFF;
    font-weight: 400;
}

p{
    font-size: 16px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

.filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 30%);
    position: absolute;
    top: 0;
    left: 0;
}

/* popup */

.popup-overlay-video{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 30%);
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 3;
}
.popup-overlay-map{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 30%);
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 3;
}

.popup-content{
    background-color: #fff;
    padding: 30px 20px;
    max-width: 700px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    max-height: 78vh;
    text-align: center;
}

.close-btn{
    font-size: 30px;
    position: absolute;
    top: 80px;
    right: 43px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}
.popup-content h2{
    text-transform: capitalize;
}

.popup-content p{
    margin: 20px 0px;
}

.popup-content iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
}

footer{
    text-align: center;
    padding: 20px 0px;
    color: #fff;
    background-color: #696969;
}
/* header */

.page-header{
    background-color: #696969;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;

}

.header-flex{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    max-width: 200px;
    font-size: 35px;
}

.logo i{
    color: #86C3FF;
}

.burger{
    display: none;
    font-size: 30px;
    color: #fff;
}

.nav-menu{
    display: flex;
    gap: 20px;
}

.nav-menu a{
    font-size: 20px;
    transition: .6s;
}

.nav-menu a:hover{
    color: #93CDFF;
}

/* banner */

.banner{
    background-image: url("https://archive.org/download/resort_bar_ocean-wallpaper-1920x1080/resort_bar_ocean-wallpaper-1920x1080.jpg");
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 40px 0;
    position: relative;
}

.banner .container{
    position: relative;
}

/* about */

.about-flex{
    display: flex;
    gap: 20px;
    align-items: center;
}

.about-info{
    width: 45%;
}

.about-info h2{
    margin: 20px 0px;
}

.about-info p{
    color: #878787;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 45px;
}

.about-info a{
    border-bottom: solid #878787;
    color: #878787;
}

.about-flex-image{
    width: 55%;
    display: flex;
    gap: 10px; 
    justify-content: flex-start;
    height: 400px;
}

.about-image-1{
    width: 50%;
    background-image: url("https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?cs=srgb&dl=pexels-thorsten-technoman-109353-338504.jpg&fm=jpg");
    background-position: center;
    background-size: cover;
    height: 350px;
}

.about-image-2{
    width: 50%;
    background-image: url("https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/d1-1715829836350.jpg");
    background-position: center;
    background-size: cover;
    align-self: flex-end;
    height: 350px;
}

/* place */

.section-header{
    text-align: center;
    margin-bottom: 80px;
}

.section-header h2{
    margin-top: 20px;
    text-transform: capitalize;
}

.place-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
/* slider animation */

.card-image{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.extra-info{
    background-color: rgba(0, 0, 0, 30%);
	padding: 20px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.more-btn{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 17px;
    background-color: #fff;
    color: #86C3FF;
    border-radius: 9px;
    transition: .4s;
    cursor: pointer;
}

.more-btn:hover{
    background-color: #86C3FF;
    color: #fff
}

.card-image:hover .extra-info{
    opacity: 1;
	visibility: visible;

}

.card:nth-of-type(1) .card-image{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20230929/pngtree-bora-bora-resort-hd-wallpaper-image_13308159.jpg");
    background-position: center;
    background-size: cover;
    height: 280px;
}

.card:nth-of-type(2) .card-image{
    background-image: url("https://www.elyon.co.in/wp-content/uploads/2014/04/download-beach-resort-background-images-hd-wallpaper-of-beach-nature-picture-beach-resorts-hd-wallpaper.jpg");
    background-position: center;
    background-size: cover;
    height: 280px;
}

.card:nth-of-type(3) .card-image{
    background-image: url("https://images.unsplash.com/photo-1697179177120-904f2997e1fd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    height: 280px;
}

.card-info{
    padding-top: 25px;
}

.book-btn{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #86C3FF;
    padding: 10px 20px;
    color: #86C3FF;
}

/* cta-video */

.cta-video{
    background-image: url("https://images.unsplash.com/photo-1697179235212-00f4cf7805d9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    min-height: calc(90vh - 59px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 40px 0;
    overflow: hidden;
    position: relative;
}

.cta-video .container{
    max-width: 600px;
    position: relative;
}

.cta-video h4{
    color: #fff;
}

.cta-video h2{
    margin: 28px 0px;
}

.play-btn{
    background-color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.play-btn i{
    font-size: 15px;
    color: #86C3FF;
}

/* laptop */

@media only screen and (max-width: 992px) {

    /* golbal */

    section{
        padding: 70px 0px;
    }
    
    h1{
        font-size: 93px;
    }

    /* popup */

    .close-btn{
        top: 80px;
        right: 47px;
    }

    /* banner */

    .banner{
        min-height: 85vh;
   }

    /* cta-video */
    .cta-video{
        min-height: calc(85vh - 59px);
    }

}

/* tablet */

@media only screen and (max-width: 768px) {

   /* global */

    section{
        padding: 50px 0px;
    }

    h1{
        font-size: 71px;
    }

    h3{
        font-size: 20px;
    }

    /* popup */
    
    .popup-content h2{
        font-size: 41px;
    }

    .popup-content p{
        line-height: 1.4;
    }

    .close-btn{
        top: 80px;
        right: 37px;
    }
 
    /* banner */

    .banner{
        min-height: 70vh;
    }

    /* about */

    .about-flex{
        flex-direction: column;
        gap: 30px;
    }

    .about-info{
        width: 100%;
        text-align: center;
    }

    .about-info h2{
        margin: 15px 0px;
        font-size: 41px;
    }

    .about-info p{
        line-height: 1.4;
        margin-bottom: 15px;
    }

    .about-flex-image{
        width: 100%;
        gap: 8px; 
        height: auto;
    }

    .about-image-1{
        height: 300px;
    }

    .about-image-2{ 
        height: 300px;
    }

    /* place */

    .section-header{
        margin-bottom: 45px;
    }

    .section-header h2 {
        margin-top: 15px;
        font-size: 41px;
    }

    .place-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    
    .card:nth-of-type(1) .card-image{
        height: 270px;
    }
    
    .card:nth-of-type(2) .card-image{
        height: 270px;
    }
    
    .card:nth-of-type(3) .card-image{
        height: 270px;
    }

    .card-info{
        padding-top: 20px;
        text-align: center;
    }

    /* cta-video */

    .cta-video{
        min-height: calc(70vh - 59px);
    }

    .cta-video .container{
        max-width: 500px;
    }

    .cta-video h2{
        font-size: 44px;
    }

    .cta-video h2{
        margin: 24px 0px;
    }

}

/* phone */

@media only screen and (max-width: 576px) {

    /* global */

    section{
        padding: 35px 0px;
    }

    h1{
        font-size: 64px;
        line-height: 1;
    }

    h3{
        font-size: 18px;
    }

    /* popup */

    .popup-content h2{
        font-size: 34px;
    }

    .close-btn{
        top: 80px;
        right: 23px;
    }

    /* page header */

    .menu-holder{
        display: none;
    }

    .burger{
        display: block;
        position: relative;
    }
  
    .menu-holder{
        position: absolute;
        top: 100%;
        left: 0;
        height: 100vh;
        width: 100vw;
        text-align: center;
        background-color: rgba(0, 0, 0, 70%);
    }

    .nav-menu{
        flex-direction: column;
        width: 100vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* banner */

    .banner{
        min-height: 63vh;
    }

    /* about */

    .about-flex{
        flex-direction: column;
        gap: 28px;
    }

    .about-info h2{
        margin: 12px 0px;
        font-size: 34px;
    }

    .about-info p{
        margin-bottom: 13px;
    }

    .about-flex-image{
        gap: 8px; 
        flex-wrap: wrap; 
    }

    .about-image-1{
        width: 100%;
        height: 250px;
    }

    .about-image-2{ 
        width: 100%;
        height: 250px;
    }

    /* place */

    .section-header{
        margin-bottom: 40px;
    }

    .section-header h2 {
        margin-top: 12px;
        font-size: 34px;
    }
    .place-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 17px;
    }
    .card:nth-of-type(1) .card-image{
        height: 250px;
    }
    
    .card:nth-of-type(2) .card-image{
        height: 250px;
    }
    
    .card:nth-of-type(3) .card-image{
        height: 250px;
    }

    .card-info{
        padding-top: 15px;
    }

    /* cta-video */

    .cta-video{
        min-height: calc(60vh - 59px);
    }
    
    .cta-video .container{
        max-width: 400px;  
    }
    
    .cta-video h2{
        font-size: 40px;
    }
    
    .cta-video h2{
        margin: 20px 0px;
    }
    
}

@media only screen and (min-width: 577px){
	
	.menu-holder{
		display: block !important;
	}

}
